## API URLs
APP_API_URL=http://localhost:3333
FORGOT_MAIL_URL=http://localhost:3333/password/reset?token=

## AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_BUCKET_URL=

## Storage local | s3
DISK=local

## Mail ethereal | ses 
MAIL_PROVIDER=ethereal

## JWT Secrets
SECRET_TOKEN=foo1
EXPIRES_TOKEN=15m
SECRET_REFRESH_TOKEN=foo2
EXPIRES_REFRESH_TOKEN=30d
EXPIRES_REFRESH_TOKEN_DAYS=30

## DB
POSTGRES_USER=docker
POSTGRES_PASSWORD=ignite
POSTGRES_DB=rentx
POSTGRES_PORT=5432

## Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=