version: "3.7"
volumes:
  pgdata:
services:
  app:
    build: .
    container_name: rentx
    ports:
      - 3333:3333
    volumes:
      - .:/usr/app
    depends_on:
      - database
  database:
    image: postgres
    container_name: database_ignite
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: "docker"
      POSTGRES_PASSWORD: "ignite"
      POSTGRES_DB: "rentx"
    volumes:
      - pgdata:/data/postgres
