<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <img src="http://i.imgur.com/oUAKMC5.png" alt="Logo do rentx">

  <span>Oi, {{name}}</span> <br />

  <span>Você solicitou alteração de senha.</span><br />
  <span>
    Para realizar a troca, click no link
    <a href={{link}}>{{link}}</a>
  </span><br />
  
  <span>Caso não tenha sido você que solicitou a alteração da senha basta ignorar este e-mail.</span><br />

  <strong>Obrigado!</strong>

  <h3>Equipe | <strong>Rentx</strong></h3>
</div>