<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      margin: 10px 0;
      display: block;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="http://i.imgur.com/oUAKMC5.png" alt="Logo do rentx">

    <span>Oi, {{name}}</span> <br />

    <span>Você solicitou alteração de senha.</span><br />
    <span>
      Para realizar a troca, click no link
      <a href={{link}}>{{link}}</a>
    </span><br />
    
    <span>Caso não tenha sido você que solicitou a alteração da senha basta ignorar este e-mail.</span><br />

    <strong>Obrigado!</strong>

    <h3>Equipe | <strong>Rentx</strong></h3>
  </div>
</body>
</html>